/* ROOT */
:root {
  /* --padding: 20px; */
  /* var(--padding) */
  --color-white: white;
  --color-black: black;

}

/* INITIAL RULES */

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  background-color: #ffffff;
}

main {
  background: linear-gradient(to bottom, #F5B700, var(--color-white));
}

/* HEADER / NAVIGATION */

header {
  background-color: var(--color-white);
}

.navbar_main {}

.navbar_main li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  padding: 8px 16px;
  
  width: 130px;
  height: 50px;

  border: 1px solid var(--color-black);
  border-radius: 35px;
}

.navbar-active {
  background: linear-gradient(to bottom, #F5B700, var(--color-white));
}

/* FOOTER */

footer {
  background-color: var(--color-white);
}

/* CLASSES */

.hero {}

.main {}

.faq {
  background: linear-gradient(to bottom, var(--color-white), #CBFF5B);
}

.donate {
  background-color: #5CB8FF;
}